service: Serverless.Chat

provider:
  name: aws
  runtime: dotnetcore2.1
  stage: ${opt:stage, 'dev'}
  region: ap-southeast-2
  stackName: ServerlessChat-${opt:stage}
  apiName: ServerlessChat-${opt:stage}
  memorySize: 1024
  logRetentionInDays: 1
  environment:
    environment: ${opt:stage}
  tracing:
    apiGateway: true
    lambda: true

package:
  individually: false
  artifact: bin/release/netcoreapp2.1/chatFunctions.zip

functions:
  getMessagesFunction:
    name: ${opt:stage}-ServerlessChat-GetRecentMessages
    handler: Serverless.Chat::Serverless.Chat.ChatFunctions::GetRecentMessages
    role: GetMessagesRole
    events:
      - http:
          path: messages
          method: get
          cors:
            origin: '*'

  signInFunction:
    name: ${opt:stage}-ServerlessChat-SignIn
    handler: Serverless.Chat::Serverless.Chat.ChatFunctions::SignIn
    role: SignInRole
    events:
      - http:
          path: sign-in
          method: post
          cors:
            origin: '*'

  jwtAuthorizerFunction:
    name: ${opt:stage}-ServerlessChat-JwtAuthorizer
    handler: Serverless.Chat::Serverless.Chat.ChatFunctions::Authorize
    role: JwtAuthorizerRole

  sendMessageFunction:
    name: ${opt:stage}-ServerlessChat-SendMessage
    handler: Serverless.Chat::Serverless.Chat.ChatFunctions::SendMessage
    role: SendMessageRole
    events:
      - http:
          path: message
          method: post
          authorizer: jwtAuthorizerFunction
          cors:
            origin: '*'

  connectFunction:
    name: ${opt:stage}-ServerlessChat-Connect
    handler: Serverless.Chat::Serverless.Chat.ChatFunctions::Connect
    role: ConnectRole
    events:
      - websocket: $connect

  messageUpdatedFunction:
    name: ${opt:stage}-ServerlessChat-MessageUpdated
    handler: Serverless.Chat::Serverless.Chat.ChatFunctions::MessageUpdated
    role: MessageUpdatedRole
    environment:
      ws_id: !Ref WebsocketsApi
    events:
      - stream:
          type: dynamodb
          arn:
            Fn::GetAtt: [MessagesTable, StreamArn]

resources:
  Resources:
    GetMessagesRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${opt:stage}-ServerlessChat-GetRecentMessages
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: ${opt:stage}-ServerlessChat-GetRecentMessages
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - dynamodb:Scan
                    - dynamodb:DescribeTable
                  Resource:
                    - 'Fn::Join':
                      - ':'
                      - 
                        - arn:aws:dynamodb
                        - Ref: AWS::Region
                        - Ref: AWS::AccountId
                        - table/${opt:stage}-ServerlessChat-Messages
                - Effect: Allow
                  Action:
                    - xray:PutTraceSegments
                    - xray:PutTelemetryRecords
                  Resource: '*'
                - Effect: Allow
                  Action:
                    - logs:CreateLogStream
                    - logs:PutLogEvents
                  Resource:
                    - arn:aws:logs:*:*:log-group:/aws/lambda/${opt:stage}-ServerlessChat-GetRecentMessages
                    - arn:aws:logs:*:*:log-group:/aws/lambda/${opt:stage}-ServerlessChat-GetRecentMessages:log-stream:*

    SignInRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${opt:stage}-ServerlessChat-SignIn
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: ${opt:stage}-ServerlessChat-SignIn
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - dynamodb:PutItem
                    - dynamodb:UpdateItem
                    - dynamodb:DescribeTable
                  Resource:
                    - 'Fn::Join':
                      - ':'
                      - 
                        - arn:aws:dynamodb
                        - Ref: AWS::Region
                        - Ref: AWS::AccountId
                        - table/${opt:stage}-ServerlessChat-Users
                - Effect: Allow
                  Action:
                    - xray:PutTraceSegments
                    - xray:PutTelemetryRecords
                  Resource: '*'
                - Effect: Allow
                  Action:
                    - logs:CreateLogStream
                    - logs:PutLogEvents
                  Resource:
                    - arn:aws:logs:*:*:log-group:/aws/lambda/${opt:stage}-ServerlessChat-SignIn
                    - arn:aws:logs:*:*:log-group:/aws/lambda/${opt:stage}-ServerlessChat-SignIn:log-stream:*

    JwtAuthorizerRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${opt:stage}-ServerlessChat-JwtAuthorizer
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: ${opt:stage}-ServerlessChat-JwtAuthorizer
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - dynamodb:GetItem
                    - dynamodb:DescribeTable
                  Resource:
                    - 'Fn::Join':
                      - ':'
                      - 
                        - arn:aws:dynamodb
                        - Ref: AWS::Region
                        - Ref: AWS::AccountId
                        - table/${opt:stage}-ServerlessChat-Users
                - Effect: Allow
                  Action:
                    - xray:PutTraceSegments
                    - xray:PutTelemetryRecords
                  Resource: '*'
                - Effect: Allow
                  Action:
                    - logs:CreateLogStream
                    - logs:PutLogEvents
                  Resource:
                    - arn:aws:logs:*:*:log-group:/aws/lambda/${opt:stage}-ServerlessChat-JwtAuthorizer
                    - arn:aws:logs:*:*:log-group:/aws/lambda/${opt:stage}-ServerlessChat-JwtAuthorizer:log-stream:*

    SendMessageRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${opt:stage}-ServerlessChat-SendMessage
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: ${opt:stage}-ServerlessChat-SendMessage
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - dynamodb:PutItem
                    - dynamodb:UpdateItem
                    - dynamodb:DescribeTable
                  Resource:
                    - 'Fn::Join':
                      - ':'
                      - 
                        - arn:aws:dynamodb
                        - Ref: AWS::Region
                        - Ref: AWS::AccountId
                        - table/${opt:stage}-ServerlessChat-Messages
                - Effect: Allow
                  Action:
                    - xray:PutTraceSegments
                    - xray:PutTelemetryRecords
                  Resource: '*'
                - Effect: Allow
                  Action:
                    - logs:CreateLogStream
                    - logs:PutLogEvents
                  Resource:
                    - arn:aws:logs:*:*:log-group:/aws/lambda/${opt:stage}-ServerlessChat-SendMessage
                    - arn:aws:logs:*:*:log-group:/aws/lambda/${opt:stage}-ServerlessChat-SendMessage:log-stream:*

    ConnectRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${opt:stage}-ServerlessChat-Connect
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: ${opt:stage}-ServerlessChat-Connect
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - dynamodb:GetItem
                    - dynamodb:PutItem
                    - dynamodb:UpdateItem
                    - dynamodb:DescribeTable
                  Resource:
                    - 'Fn::Join':
                      - ':'
                      - 
                        - arn:aws:dynamodb
                        - Ref: AWS::Region
                        - Ref: AWS::AccountId
                        - table/${opt:stage}-ServerlessChat-Users
                - Effect: Allow
                  Action:
                    - xray:PutTraceSegments
                    - xray:PutTelemetryRecords
                  Resource: '*'
                - Effect: Allow
                  Action:
                    - logs:CreateLogStream
                    - logs:PutLogEvents
                  Resource:
                    - arn:aws:logs:*:*:log-group:/aws/lambda/${opt:stage}-ServerlessChat-Connect
                    - arn:aws:logs:*:*:log-group:/aws/lambda/${opt:stage}-ServerlessChat-Connect:log-stream:*

    MessageUpdatedRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${opt:stage}-ServerlessChat-MessageUpdated
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: ${opt:stage}-ServerlessChat-MessageUpdated
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - dynamodb:Scan
                    - dynamodb:DescribeTable
                  Resource:
                    - 'Fn::Join':
                      - ':'
                      - 
                        - arn:aws:dynamodb
                        - Ref: AWS::Region
                        - Ref: AWS::AccountId
                        - table/${opt:stage}-ServerlessChat-Users
                - Effect: Allow
                  Action:
                    - dynamodb:DescribeStream
                    - dynamodb:GetRecords
                    - dynamodb:GetShardIterator
                    - dynamodb:ListStreams
                  Resource:
                    - 'Fn::Join':
                      - ':'
                      - 
                        - arn:aws:dynamodb
                        - Ref: AWS::Region
                        - Ref: AWS::AccountId
                        - table/${opt:stage}-ServerlessChat-Messages/stream/*
                - Effect: Allow
                  Action:
                    - xray:PutTraceSegments
                    - xray:PutTelemetryRecords
                  Resource: '*'
                - Effect: Allow
                  Action:
                    - logs:CreateLogStream
                    - logs:PutLogEvents
                  Resource:
                    - arn:aws:logs:*:*:log-group:/aws/lambda/${opt:stage}-ServerlessChat-MessageUpdated
                    - arn:aws:logs:*:*:log-group:/aws/lambda/${opt:stage}-ServerlessChat-MessageUpdated:log-stream:*
                - Effect: Allow
                  Action:
                    - execute-api:ManageConnections
                  Resource:
                    - '*'

    MessagesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${opt:stage}-ServerlessChat-Messages
        AttributeDefinitions:
          - AttributeName: MessageId
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        KeySchema:
          - AttributeName: MessageId
            KeyType: HASH
        TimeToLiveSpecification:
          AttributeName: ExpiresOnUtc
          Enabled: true
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES

    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${opt:stage}-ServerlessChat-Users
        AttributeDefinitions:
          - AttributeName: UserId
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        KeySchema:
          - AttributeName: UserId
            KeyType: HASH
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES