AWSTemplateFormatVersion: 2010-09-09
Description: Infrastructure resources for ServerlessChat repo

Parameters:
  Environment:
    Type: String
    Default: live

Resources:
  BuildUser:
    Type: AWS::IAM::User
    Properties:
      UserName: ServerlessChat-Build

  BuildPolicy:
    DependsOn:
      - BuildUser
      - AngularBucket
    Type: AWS::IAM::ManagedPolicy
    Properties:
      ManagedPolicyName: !Sub ServerlessChat-${Environment}
      Users:
        - !Ref BuildUser
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - s3:CreateBucket
              - s3:ListBucket
              - s3:GetBucketPolicy
              - s3:PutEncryptionConfiguration
              - s3:DeleteBucket
              - s3:DeleteBucketPolicy
              - s3:PutObject
              - s3:GetObject
              - s3:PutBucketPolicy
              - s3:DeleteObject
            Resource:
              - !Sub arn:aws:s3:::serverlesschat-${Environment}-serverlessdeploymentbucket-*
          - Effect: Allow
            Action:
              - s3:GetObject
              - s3:PutObject
              - s3:ListBucket
              - s3:PutObjectAcl
              - s3:DeleteObject
            Resource: 
              - !GetAtt AngularBucket.Arn
              - !Sub ${AngularBucket.Arn}/*
          - Effect: Allow
            Action:
              - iam:CreateRole
              - iam:PutRolePolicy
              - iam:PassRole
              - iam:DeleteRolePolicy
              - iam:GetRole
              - iam:DeleteRole
              - iam:GetRolePolicy
            Resource:
              - !Sub arn:aws:iam::${AWS::AccountId}:role/${Environment}-ServerlessChat-GetRecentMessages
              - !Sub arn:aws:iam::${AWS::AccountId}:role/${Environment}-ServerlessChat-SignIn
              - !Sub arn:aws:iam::${AWS::AccountId}:role/${Environment}-ServerlessChat-JwtAuthorizer
              - !Sub arn:aws:iam::${AWS::AccountId}:role/${Environment}-ServerlessChat-SendMessage
              - !Sub arn:aws:iam::${AWS::AccountId}:role/${Environment}-ServerlessChat-Connect
              - !Sub arn:aws:iam::${AWS::AccountId}:role/${Environment}-ServerlessChat-MessageUpdated
              - !Sub arn:aws:iam::${AWS::AccountId}:role/${Environment}-ServerlessChat-UserUpdated
              - !Sub arn:aws:iam::${AWS::AccountId}:role/${Environment}-ServerlessChat-UpdateUserConnectionList
          - Effect: Allow
            Action:
              - cloudformation:DescribeStackResource
              - cloudformation:DescribeStackEvents
              - cloudformation:UpdateStack
              - cloudformation:ListStackResources
              - cloudformation:DescribeStacks
              - cloudformation:CreateStack
              - cloudformation:DeleteStack
            Resource:
              - !Sub arn:aws:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/ServerlessChat-${Environment}/*
          - Effect: Allow
            Action:
              - cloudformation:ListStacks
              - cloudformation:ValidateTemplate
            Resource: '*'
          - Effect: Allow
            Action:
              - dynamodb:DeleteTable
              - dynamodb:DescribeTable
              - dynamodb:UpdateTimeToLive
              - dynamodb:DescribeTimeToLive
              - dynamodb:CreateTable
            Resource:
              - !Sub arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/${Environment}-ServerlessChat-Messages
              - !Sub arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/${Environment}-ServerlessChat-Users
              - !Sub arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/${Environment}-ServerlessChat-UserConnectionMappings
          - Effect: Allow
            Action:
              - apigateway:DELETE
              - apigateway:GET
              - apigateway:PUT
              - apigateway:POST
              - apigateway:PATCH
              - apigateway:UpdateRestApiPolicy
            Resource: '*'
          - Effect: Allow
            Action:
              - lambda:CreateFunction
              - lambda:DeleteFunction
              - lambda:AddPermission
              - lambda:ListVersionsByFunction
              - lambda:GetFunction
              - lambda:GetFunctionConfiguration
              - lambda:DeleteFunction
              - lambda:PublishVersion
              - lambda:RemovePermission
              - lambda:UpdateFunctionCode
              - lambda:ListTags
              - lambda:TagResource
              - lambda:UntagResource
              - lambda:UpdateFunctionConfiguration 
            Resource:
              - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${Environment}-ServerlessChat-GetRecentMessages
              - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${Environment}-ServerlessChat-SignIn
              - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${Environment}-ServerlessChat-JwtAuthorizer
              - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${Environment}-ServerlessChat-SendMessage
              - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${Environment}-ServerlessChat-Connect
              - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${Environment}-ServerlessChat-MessageUpdated
              - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${Environment}-ServerlessChat-UserUpdated
              - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${Environment}-ServerlessChat-UpdateUserConnectionList
          - Effect: Allow
            Action:
              - lambda:CreateEventSourceMapping
              - lambda:GetEventSourceMapping
              - lambda:DeleteEventSourceMapping
            Resource: '*'
          - Effect: Allow
            Action:
              - logs:CreateLogGroup
              - logs:DeleteLogGroup
              - logs:PutRetentionPolicy
              - logs:DeleteLogStream
            Resource:
              - !Sub arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/${Environment}-ServerlessChat-GetRecentMessages:*
              - !Sub arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/${Environment}-ServerlessChat-SignIn:*
              - !Sub arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/${Environment}-ServerlessChat-JwtAuthorizer:*
              - !Sub arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/${Environment}-ServerlessChat-SendMessage:*
              - !Sub arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/${Environment}-ServerlessChat-Connect:*
              - !Sub arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/${Environment}-ServerlessChat-MessageUpdated:*
              - !Sub arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/${Environment}-ServerlessChat-UserUpdated:*
              - !Sub arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/${Environment}-ServerlessChat-UpdateUserConnectionList:*
          - Effect: Allow
            Action:
              - logs:DescribeLogGroups
            Resource: '*'
          - Effect: Allow
            Action:
              - sqs:CreateQueue
              - sqs:DeleteQueue
              - sqs:SetQueueAttributes
              - sqs:GetQueueAttributes
            Resource:
              - !Sub arn:aws:sqs:${AWS::Region}:${AWS::AccountId}:${Environment}-ServerlessChat-UserConnectionListUpdates.fifo

  AngularBucket:
    Type: AWS::S3::Bucket
    Properties: 
      AccessControl: PublicRead
      BucketName: kungfujedi-serverless-chat-ui
      WebsiteConfiguration:
        ErrorDocument: index.html
        IndexDocument: index.html